version: "3.8"
services:
  postgres:
    image: postgres:15-alpine
    container_name: base_code_postgres
    restart: unless-stopped
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-base_db}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-base_db}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - backend_network

  redis:
    image: redis:7-alpine
    container_name: base_code_redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    ports: 
      - '${REDIS_PORT:-6479}:6479'
    networks:
      - backend_network
        
      
networks:
  backend_network:
    driver: bridge

volumes:
  postgres-data:
  redis-data: